

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    background-color: rgb(118, 189, 199)
}


.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}