

.container {
    box-sizing: border-box;
    max-height: 150px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-radius: 0 0 8px 8px;
    background-color: white;
    max-height: 130px;
    overflow-y: auto;
}


.container > a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .95rem;
    line-height: 1.1rem;
    color: rgb(233, 229, 229);
    letter-spacing: .025em;
    font-family:sans-serif;
}