


.nav {
    width: min(20%, 300px);
    background-color: #292929;
    border-right: 10px solid rgb(80, 77, 77);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        border-radius: 50%;
        transform: scale(5);
        background-color: rgba(14, 244, 244, 0.701);
        padding: 0px 1px;
    }
    a:hover {
        filter: invert(25%);
    }
}



@media (max-width: 800px) {
    .nav {
        width: 100%;
        min-height: 200px;
        border:none;
        border-bottom: 10px solid rgb(80, 77, 77);
    }
}